/* SERVICES  - SCROLL SPY and AFFIX */

body {
    position: relative;
    /* line-height: 1.5; */
    padding-top: 3rem;
  }
  

  
  h3 span {
    color: #286090;
  }
  
  .jumbotron {
    margin-bottom: 3rem;
    border-radius: 0px;
    background-color: hsl(0, 0%, 75%);
    background-image: url("https://source.unsplash.com/1200x500/?nature,water");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    
  }
  
  .jumbotron > .container {
    height: 250px;
    padding-top: 5rem;
  }

  
  section {
    padding: 40px 0;
    border-bottom: 1px solid #c1e1ec;
  }
  
  #web-development,
  #mobile-development {
    padding-bottom: 0;
  }
  
  section:last-child {
    border-bottom: none;
  }
  
  .navafx {
    background: #e2e2cf;
    list-style: none;
    padding: 1rem;
  }
  
  .navafx a {
    color: black;
  }
  
  .navafx li a:hover,
  .navafx li a:focus {
    background: #86c5da;
  }
  
  .navafx .active {
    font-weight: bold;
    background: #72bcd4;
  }
  
  .navafx .navafx {
    display: none;
  }
  
  .navafx .active .navafx {
    display: block;
  }
  
  .navafx .navafx a {
    font-weight: normal;
    font-size: .85em;
  }
  
  .navafx .navafx span {
    margin: 0 5px 0 2px;
  }
  
  .navafx .navafx .active a,
  .navafx .navafx .active:hover a,
  .navafx .navafx .active:focus a {
    font-weight: bold;
    padding-left: 30px;
    border-left: 5px solid black;
  }
  
  .navafx .navafx .active span,
  .navafx .navafx .active:hover span,
  .navafx .navafx .active:focus span {
    display: none;
  }
  

  
  .affix-top {
    position: relative;
  }
  
  .affix {
    top: 20px;
  }
  
  .affix, 
  .affix-bottom {
      width: 213px;
  }
  
  .affix-bottom {
    position: absolute;
  }
  
  
  @media (min-width:1200px) {
    .affix, 
    .affix-bottom {
      width: 263px;
    }
  }
  /* END OF SERVICES  - SCROLL SPY and AFFIX  */

