body {
    padding-top: 3rem;
    position: relative;
}

/******** CSS Overrides ********/

 .carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } 

/* .header {
    margin-bottom: 160px !important;
} */
/* .main  {
    padding-top: 10px;
}  */

/*
.main {
    margin: 5rem auto;
} */

.divider {
    margin: 5rem 0;
}

.scrollspy-example {
    position: relative;
    height: 300px;
    margin-top: .5rem;
    overflow: auto;
}

/* JUMBOTRON  */
.jumbotron {
    margin-bottom: 3rem;
    border-radius: 0px;
    background-color: hsl(0, 0%, 75%);
    background-image: url("https://source.unsplash.com/1200x500/?nature,water");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    
  }
  
  .jumbotron > .container {
    height: 250px;
    padding-top: 5rem;
  }

  /* CONTACT IMAGE  */
.contact-image {
    margin-bottom: 3rem;
    border-radius: 0px;
    background-color: hsl(0, 0%, 75%);
    background-image: url("/assets/globe.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    
  }
  
  .contact-image  > .container {
    height: 500px;
    padding-top: 5rem;
  }


  .cont-info {
      padding-top: 20px !important;
  }

#contact-mobile {
    display: block;
}

.contact-label {
    display: block;
    color: #aaa;
    font-size: 0.75em;
}